<div style=" width: 50%;
    margin: auto;">
  <h2>Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :username,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "username" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions" style="
    display: flex;
    justify-content: center;">
      <%= f.button :submit, "Sign up", style: "border: 1px solid black;
    background-color: #d7d4d4;" %>
    </div>
  <% end %>
</div>

<div style=" width: 50%;
    margin: auto;">
  <%= render "devise/shared/links" %>
</div>
