<div class="d-flex flex-column align-items-center justify-content-center pt-2">
  <div id="grid">
    <% @sneakers.each do |sneaker| %>
      <div class="grid-card">
        <div style="width: 18rem;">
          <div>
          <%# if statement for cloudinary image tag %>
            <% if sneaker.photos.attached? == true %>
              <%# <%= cl_image_tag sneaker.photos.first.key, :width=>400, :height=>350, :crop=>"fill", alt: sneaker.name %>
              <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <% sneaker.photos.each_with_index do |photo,index| %>

                  <div class="carousel-item <%="active" if index.zero? %>">
                    <img src="<%= cl_image_path photo.key %>" class="d-block w-100" alt="...">
                  </div>
                  <% end %>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            <% end %>
          </div>

          <div class="card-textbox">
            <p class="card-text fs-5 pt-3 ps-2"><%= link_to sneaker.name.upcase, sneaker %></p>
            <p class="card-text fs-5 pe-2">£<%= sneaker.price %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
