<div id="navbar" class="navbar border-bottom navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
    <ul class="navbar-nav me-auto d-flex align-items-center">
      <li class="nav-item"><%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "img_4815.jpg" %>
      <% end %>
      </li>
      <li class="nav-item pt-3">
        <p><b><%= link_to "SeekASneaker", root_path%></b></p>
      </li>
      </ul>
    </div>

    <%= render 'shared/search' %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "My Sneakers", my_sneakers_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "List a sneaker", new_sneaker_path, class: "nav-link" %>
          </li>
            <li class="nav-item">
            <%= link_to "My orders", orders_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "img_4815.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%# <%= link_to "", "#", class: "dropdown-item" %>
              <%# <%= link_to "List a sneaker", new_sneaker_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center align-items-center pt-4 pb-3 bg-white">
  <% if user_signed_in? %>
    <h4>Welcome back <%= current_user.username %>. <span data-controller="typed-js"></span></h4>
  <% else %>
    <h4><span data-controller="typed-js"></span></h4>
  <% end %>
</div>
