<div class="d-flex flex-column align-items-center justify-content-center pt-2">
   <h3>My listed sneakers</h3>
   <div class="container mt-5">
   <div >
     <div >
      <% @sneakers.each do |sneaker| %>
      <div class="d-flex justify-content-center mb-4">
          <div class="shadow">
            <div>
             <% sneaker.photos.each_with_index do |photo, index| %>
                <% if index == 0 %>
                  <%= cl_image_tag photo.key, height: 350, width: 400, crop: :fill, alt: sneaker.name %>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="card-background">
            <div class="card-textbox flex-description sneaker-details shadow">
              <div>
              <p class="card-sneaker-text fs-5 pt-5 ps-2 fw-bold "><%= link_to sneaker.name.upcase, sneaker %></p>
              <p class= "pt-3"><%= sneaker.description %></p>
              <p class="card-text fs-5 pe-2 pt-3 fw-bold">£<%= sneaker.price %></p>
              <div class="column-buttons">
                <%= link_to "Change", edit_sneaker_url(sneaker), id: "change-btn"%>
                <%= link_to "Delete",
                  sneaker_path(sneaker),
                  id: "delete-btn",
                  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
                %>
              </div>
            </div>
            </div>
          </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
</div>
