<div class="d-flex flex-column align-items-center justify-content-center pt-2">
   <h3>My listed sneakers</h3>
   <div class="container mt-5">
   <div >
     <div >
      <% @sneakers.each do |sneaker| %>
      <div class="d-flex justify-content-center">
          <div>
            <div>
              <% sneaker.photos.each_with_index do |photo, index| %>
                <% if index == 0 %>
                  <%= cl_image_tag photo.key, height: 350, width: 400, crop: :fill, alt: sneaker.name %>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="card-background" style="border-right: 1px solid #d0d0d0; border-top: 1px solid #d0d0d0; border-bottom: 1px solid #d0d0d0; width: 300px;
    display: flex;
    align-items: center;
    justify-content: center; text-align: center;">
            <%# <div class="card-textbox flex-description sneaker-change shadow"> %>
              <div>
                <p class="card-sneaker-text fw-bold "><%= link_to sneaker.name.upcase, sneaker, class:'final-demo' %></p>
                <p><%= sneaker.description %></p>
                <p class="card-text fw-bold">£<%= sneaker.price %></p>
                <div class="column-buttons">
                  <%= link_to "Change", edit_sneaker_url(sneaker), id: "change-btn"%>
                </div>
              </div>
            <%# </div> %>
          </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
</div>
