<div style=" width: 50%;
    margin: auto;">
  <h2>Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions" style="
    display: flex;
    justify-content: center;">
      <%= f.button :submit, "Log in", style: "border: 1px solid black;
    background-color: #d7d4d4;" %>
    </div>
  <% end %>
</div>

<div style="margin: auto;
    width: 50%;">
  <%= render "devise/shared/links" %>
</div>
