<div>
  <% if @reviews.any? == true %>
    <% @reviews.each do |review| %>
      <div class="text-center">
        <h1>Reviews for <%= review.user.username %></h1>
      </div>
      <div id="review-card">
        <div class="pt-2 border-bottom border-3 d-flex align-items-center justify-content-between bg-light">
          <h4 class="ps-2"><b>Rating:</b> <%= review.rating %></h4>
          <p class="pe-2"><%= review.created_at.strftime("%d-%m-%Y") %></p>
        </div>
        <div class="d-flex align-items-center justify-content-start">
          <i class="fa-solid fa-quote-left fa-xl mb-4 ps-2"></i>
          <p class="p-2"><%= review.content %></p>
        </div>
        <div>
          <p><small>User: <%= review.reviewer %></small></p>
        </div>
      </div>
    <% end %>
  <% else %>
  <h1><%= review.user.username %> profile page</h1>
    <p class="p-2 text-black"> This user has no reviews yet!</p>
  <% end %>
<div>
