<div class="form">
  <%= simple_form_for(@sneaker) do |f| %>
    <h6 class="form-input"><%= f.input :name %></h6>
    <h6 class="form-input"><%= f.input :price %></h6>
    <h6 class="form-input"><%= f.input :size %></h6>
    <h6 class="form-input"><%= f.input :description %></h6>
    <h6 class="form-input"><%= f.input :photos, as: :file, input_html: { multiple: true }  %></h6>
    <button class="button-sneaker">Create a sneaker<% f.submit %></button>
  <% end %>
</div>
