<div class="banner">
  <div class="bottom-left">The world's simplest sneaker marketplace</div>
  <div class="top-left">Seek<span>A</span>Sneaker</div>
      <%= link_to "List sneakers now", new_sneaker_path, class: "btn btn-danger", id: "banner-btn"%>
</div>

<div class="d-flex justify-content-start bg-white ">
  <div class="w-75 d-flex align-items-center justify-content-start ps-3 pt-3">
    <% if @search && @search.length == 1%>
      <p id="latest-sneaker-heading"><b><%= @sneakers.length %> Sneakers found</b></p>
      <%= link_to "Refresh page", root_path, class: "ms-3 mb-3 btn btn-danger", id: "refresh-page" %>
    <% elsif @search && @search.length > 1 %>
      <p id="latest-sneaker-heading"><b><%= @sneakers.length %> Sneakers found</b></p>
      <%= link_to "Refresh page", root_path, class: "ms-3 mb-3 btn btn-danger", id: "refresh-page" %>
    <% else %>
      <p id="latest-sneaker-heading"><b>Latest sneakers</b></p>
    <% end %>
  </div>
</div>

<%= render 'shared/grid' %>

<%# if/else for search results not working correctly %>
