<%# diplaying out added sneakers %>

<div class="d-flex">

  <div class="card-product">

    <div>
      <%= cl_image_tag @sneaker.photo.key, crop: "fit"  %>
    </div>



  </div>


  <div class="d-flex flex-column align-items-center">
    <div class="card-product-infos" >
      <h2><strong><%= @sneaker.name.capitalize %></strong></h2>
      <p><%= @sneaker.description.capitalize %></p>
      <p>£ <%= @sneaker.price %></p>
    </div>

    <div>
      <%= simple_form_for [@sneaker, @order] do |f| %>
      <%= f.submit "Buy Now", class: "btn btn-primary", id: "buy-btn" %>
      <% end %>
    </div>
    <p class="mt-2"><%= link_to "Back", root_path %><p>
  </div>



</div>
